@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans KR', sans-serif;
}

input {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.mySwiper {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.mySwiper img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  height: auto;
  background: rgb(177, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(194, 131, 223, 0.1);
}

/* flex*/
.flex-all-center {
  @apply flex justify-center items-center;
}

/* grid */
.grid-gap2 {
  @apply grid grid-cols-2 grid-rows-2 grid-flow-row gap-3;
}

/* text-overflow */
.text-overflow {
  @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
}
